@import url('https://fonts.googleapis.com/css?family=Lobster');

.header--title {
    background-color: #c0b283;
    width: 100%;
    height: 220px;
}

.header--title h1 {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    margin-bottom: -20px;
}

.header--img {
    margin-top: 20px;
    width: 50px;
}