.movies--table {
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-collapse: separate;
    border-color: #c0b283;
    padding: 15px;
    justify-content: center;
}

.movies--table th {
    text-align: center;
}