@import url('https://fonts.googleapis.com/css?family=Tajawal');

body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal' !important;
}

button, input, optgroup, select, textarea {
  font-family: 'Tajawal';
}